
.button {
  width: 120px;
  max-width: 80%;
  margin: 0 auto 20px;
  background-color: orange;
  color:black;
  border-radius: 10px;
  padding: 5px;
  border: 1px solid grey;
  box-shadow: 3px 3px 7px grey;
  cursor: pointer;
  font-size: 13px;
}

.button:hover {
  font-weight: bold;
  box-shadow: 10px 10px 20px grey;
}

.field_with_errors input {
  border: 3px solid red;
}

.searchBar {
  padding: 4px;
  margin-top: 8px;
  font-size: 12px;
  border: none;
  margin-right: 8px;
  border-radius: 2px;
}

.form {
  margin-top: 14px;
}
