html {
   background-image: linear-gradient(-180deg, #000000, #777B7E, #000000);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 100%;
   height: 100%;
}

.header {
  color: white;
  text-align: center;
}

 .home, .login, .signUp, .genres, .about {
  color: white;
  text-align: center;
  text-decoration: none;
}

a {
  cursor: pointer;
}

a, a:active, a:hover{
  color: #ffbe00;
  text-decoration: none;
}

.nav {
  margin-left: 2vw;
}

img {

}

footer {
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;

}

#loginBoxBorder{
  background-color: lavender;
  width: 25vw;
  text-align: center;
  padding: 1px 0px 3px 0px;
  border-radius: 5px;
}
