html {
   background-image: linear-gradient(-180deg, #000000, #777B7E, #000000);
   -webkit-background-size: cover;
   -moz-background-size: cover;
   -o-background-size: cover;
   background-size: cover;
   width: 85%;
   height: 100%;
   margin: auto;

}

.header {
  color: white;
  text-align: center;
}

 .home, .login, .signUp, .genres, .about {
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 5px;
}

a {
  cursor: pointer;
}

a, a:active, a:hover{
  color: #ffbe00;
  text-decoration: none;
}

.field_with_errors input {
  border: 3px solid red;
}

footer {
  color: white;
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;


  text-align: center;
  background-image: linear-gradient(180deg, #0a0a0a, #777B7E);
}

#loginBoxBorder{
  background-color: lavender;
  width: 25vw;
  text-align: center;
  padding: 1px 0px 3px 0px;
  border-radius: 5px;
}
