.loginBoxBorder{
  background-color: white;
  width: 25vw;
  text-align: center;
  padding: 1px 0px 3px 0px;
  border-radius: 5px;
  margin: 0 auto;
  margin-top: 2rem;
}

.field_with_errors input {
  border: 3px solid red;
}

.button {
  width: 120px;
  max-width: 80%;
  margin: 0 auto 20px;
  background-color: orange;
  color:black;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid grey;
  box-shadow: 5px 5px 10px rgb(54, 55, 52);
  cursor: pointer;
  font-size: 15px;
}

.button:hover {
  font-weight: bold;
  box-shadow: 10px 10px 20px rgb(54, 55, 52);
}

.email {
  font-size: 15px;
  margin-top: 15px;
  border-radius: 5px;
}

.password {
  font-size: 15px;
  border-radius: 1px;
}
